<ng-template [ngIf]="name === 'Welcome to Dashboard!'">
  <div id="container">
    <strong>{{ name }}</strong>
    <br>
    <p>
      Hi! This is <ion-text color="tertiary">Vidyullata</ion-text> making changes.
    </p>
    <p>
      Happy coding! ~
    </p>
    <br>
    <p>
      Welcome to the Dashboard! Here you can find an overview of your financial status, including recent transactions,
      account balances, and key performance indicators. Stay informed and make smart financial decisions with our
      comprehensive dashboard.
    </p>
    <br>
    <ion-button fill="outline" routerLink="/tabs/tab2">
      <ion-icon slot="start" name="add"></ion-icon>
      Log Your First Expense
    </ion-button>
  </div>
</ng-template>
<ng-template [ngIf]="name === 'Expenses page'">
  <app-expenses></app-expenses>
  </ng-template>
<ng-template [ngIf]="name === 'Reports page'">
  <div id="container">
    <p>
      Generate detailed reports to analyze your financial performance. Customize report templates and export data for
      further analysis.
    </p>
  </div>
</ng-template>